@import "tailwindcss";

@theme inline {
  --color-background: #F6F4EE; /* Chic Cream */
  --color-foreground: #0F2041; /* Modern Navy */
  
  --color-primary: #0F2041; /* Modern Navy */
  --color-secondary: #C19B5E; /* Polished Gold */
  --color-accent: #D1A7A7; /* Dusty Pink */
  --color-tertiary: #9EAC91; /* Sage Green */
  --color-cream: #F6F4EE; /* Chic Cream */

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
